html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#nav a{
    margin-right: 20px;
}

#nav a.topimage{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

#middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#logo{
    text-align: center;
}

#searchbarcontainer{
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search, #voice{
    position: absolute;
    top: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    left: 12px;
}

#voice{
    right: 12px;
}

#searchbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    outline: 0;
    width: 500px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
}

#searchbar:hover{
    box-shadow: 0 0 10px 2px rgb(233, 233, 233);
}

#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(231, 231, 231);
    border: 2px solid transparent;
}

.button:hover{
    box-shadow: 0 0 2px 1px black;
    border: 2px solid #eee;
}

#links{
    margin-top: 20px;
    text-align: center;
}

#footer-content{
    background: #eee;
    border-top: 1px solid black;
}